
@{
    Layout = "~/Views/Shared/LayoutUser.cshtml";
}
    <section class="furniture_section layout_padding">
        <div class="container">
            <div class="heading_container">
                <h2>
                    Quản Lý Phòng Trọ
                </h2>
                <p>
                    Dễ dàng quản lý thông tin phòng trọ, tình trạng thuê, giá cả và các tiện ích liên quan.
                </p>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="box">
                        <div class="img-box">
                            <img src="~/images/phong1nguoi.jpg" />
                        </div>
                        <div class="detail-box">
                            <h5>
                                Phòng Đơn
                            </h5>
                            <div class="price_box">
                                <h6 class="price_heading">
                                    <span>Giá:</span> 1.500.000 VNĐ/tháng
                                </h6>
                                <a href="">
                                    Chi Tiết
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="box">
                        <div class="img-box">
                            <img src="~/images/phong2nguoi.jpg" />
                        </div>
                        <div class="detail-box">
                            <h5>
                                Phòng Đôi
                            </h5>
                            <div class="price_box">
                                <h6 class="price_heading">
                                    <span>Giá:</span> 2.500.000 VNĐ/tháng
                                </h6>
                                <a href="">
                                    Chi Tiết
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="box">
                        <div class="img-box">
                            <img src="~/images/phongcaocap.jpg" />
                        </div>
                        <div class="detail-box">
                            <h5>
                                Phòng Cao Cấp
                            </h5>
                            <div class="price_box">
                                <h6 class="price_heading">
                                    <span>Giá:</span> 4.000.000 VNĐ/tháng
                                </h6>
                                <a href="">
                                    Chi Tiết
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="box">
                        <div class="img-box">
                            <img src="~/images/phongtheogio.jpg" />
                        </div>
                        <div class="detail-box">
                            <h5>
                                Phòng Theo Giờ
                            </h5>
                            <div class="price_box">
                                <h6 class="price_heading">
                                    <span>Giá:</span> 50.000 VNĐ/giờ
                                </h6>
                                <a href="">
                                    Chi Tiết
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="box">
                        <div class="img-box">
                            <img src="~/images/phongVIP1.jpg" />
                        </div>
                        <div class="detail-box">
                            <h5>
                                Phòng VIP
                            </h5>
                            <div class="price_box">
                                <h6 class="price_heading">
                                    <span>Giá:</span> 6.000.000 VNĐ/tháng
                                </h6>
                                <a href="">
                                    Chi Tiết
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="box">
                        <div class="img-box">
                            <img src="~/images/cobancong.jpg" />
                        </div>
                        <div class="detail-box">
                            <h5>
                                Phòng Có Sân Ban Công
                            </h5>
                            <div class="price_box">
                                <h6 class="price_heading">
                                    <span>Giá:</span> 3.500.000 VNĐ/tháng
                                </h6>
                                <a href="">
                                    Chi Tiết
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


