
@{
    Layout = "~/Views/Shared/LayoutUser.cshtml";
}

<section class="slider_section long_section">
    <div id="customCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="detail-box">
                                <h1>
                                    Xin Chào bạn <br>
                                    Chào mừng bạn đã đến phòng trọ chúng tôi
                                </h1>
                                <p>
                                    Chào mừng bạn đến với hệ thống quản lý phòng trọ thông minh! Nền tảng giúp bạn theo dõi thông tin khách thuê, quản lý hợp đồng, và tối ưu hóa chi phí vận hành một cách dễ dàng.
                                </p>
                                <div class="btn-box">
                                    <a href="" class="btn1">
                                        Liên Hệ
                                    </a>
                                    <a href="" class="btn2">
                                        Giới Thiệu
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="img-box">
                                <img src="~/images/slider-img.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="detail-box">
                                <h1>
                                    Các yêu lợi ích <br>
                                    bên chúng tôi
                                </h1>
                                <p>
                                    An ninh tốt: Khu vực an toàn, có biện pháp bảo vệ.
                                </p>
                                <div class="btn-box">
                                    <a href="" class="btn1">
                                        Contact Us
                                    </a>
                                    <a href="" class="btn2">
                                        About Us
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="img-box">
                                <img src="~/images/slider-img.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="detail-box">
                                <h1>
                                    Chúng tôi mong muốn <br>
                                    những yếu tố từ bạn
                                </h1>
                                <p>
                                    Ý thức tốt: giữ vệ sinh, không gây ồn ào.
                                </p>
                                <div class="btn-box">
                                    <a href="" class="btn1">
                                        Contact Us
                                    </a>
                                    <a href="" class="btn2">
                                        About Us
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="img-box">
                                <img src="~/images/slider-img.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ol class="carousel-indicators">
            <li data-target="#customCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#customCarousel" data-slide-to="1"></li>
            <li data-target="#customCarousel" data-slide-to="2"></li>
        </ol>
    </div>
</section>
<!-- end slider section -->
    </div>

<!-- furniture section -->

<section class="furniture_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h2>
                Quản Lý Phòng Trọ
            </h2>
            <p>
                Dễ dàng quản lý thông tin phòng trọ, tình trạng thuê, giá cả và các tiện ích liên quan.
            </p>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="box">
                    <div class="img-box">
                        <img src="~/images/phong1nguoi.jpg" />
                    </div>
                    <div class="detail-box">
                        <h5>
                            Phòng Đơn
                        </h5>
                        <div class="price_box">
                            <h6 class="price_heading">
                                <span>Giá:</span> 1.500.000 VNĐ/tháng
                            </h6>
                            <a href="">
                                Chi Tiết
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="box">
                    <div class="img-box">
                        <img src="~/images/phong2nguoi.jpg" />
                    </div>
                    <div class="detail-box">
                        <h5>
                            Phòng Đôi
                        </h5>
                        <div class="price_box">
                            <h6 class="price_heading">
                                <span>Giá:</span> 2.500.000 VNĐ/tháng
                            </h6>
                            <a href="">
                                Chi Tiết
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="box">
                    <div class="img-box">
                        <img src="~/images/phongcaocap.jpg" />
                    </div>
                    <div class="detail-box">
                        <h5>
                            Phòng Cao Cấp
                        </h5>
                        <div class="price_box">
                            <h6 class="price_heading">
                                <span>Giá:</span> 4.000.000 VNĐ/tháng
                            </h6>
                            <a href="">
                                Chi Tiết
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="box">
                    <div class="img-box">
                        <img src="~/images/phongtheogio.jpg" />
                    </div>
                    <div class="detail-box">
                        <h5>
                            Phòng Theo Giờ
                        </h5>
                        <div class="price_box">
                            <h6 class="price_heading">
                                <span>Giá:</span> 50.000 VNĐ/giờ
                            </h6>
                            <a href="">
                                Chi Tiết
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="box">
                    <div class="img-box">
                        <img src="~/images/phongVIP1.jpg" />
                    </div>
                    <div class="detail-box">
                        <h5>
                            Phòng VIP
                        </h5>
                        <div class="price_box">
                            <h6 class="price_heading">
                                <span>Giá:</span> 6.000.000 VNĐ/tháng
                            </h6>
                            <a href="">
                                Chi Tiết
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="box">
                    <div class="img-box">
                        <img src="~/images/cobancong.jpg" />
                    </div>
                    <div class="detail-box">
                        <h5>
                            Phòng Có Sân Ban Công
                        </h5>
                        <div class="price_box">
                            <h6 class="price_heading">
                                <span>Giá:</span> 3.500.000 VNĐ/tháng
                            </h6>
                            <a href="">
                                Chi Tiết
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end furniture section -->
<!-- about section -->

<section class="about_section layout_padding long_section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="img-box">
                    <img src="~/images/about-img.png" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>
                            About Us
                        </h2>
                    </div>
                    <p>
                        Chúng tôi cung cấp giải pháp quản lý phòng trọ chuyên nghiệp và hiệu quả. Với hệ thống hiện đại, bạn có thể dễ dàng theo dõi thông tin phòng, tình trạng thuê, chi phí và hỗ trợ khách hàng nhanh chóng. Sứ mệnh của chúng tôi là mang đến sự tiện lợi và minh bạch trong việc quản lý và vận hành các hệ thống phòng trọ.
                    </p>
                    <a href="">
                        Tìm Hiểu Thêm
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end about section -->
<!-- blog section -->

<section class="blog_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h2>
                Bài Viết Mới Nhất
            </h2>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4 mx-auto">
                <div class="box">
                    <div class="img-box">
                        <img src="images/b1.jpg" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            Hướng Dẫn Quản Lý Phòng Trọ Hiệu Quả
                        </h5>
                        <p>
                            Tìm hiểu các cách tổ chức thông tin, theo dõi tình trạng phòng và cải thiện dịch vụ cho người thuê.
                        </p>
                        <a href="">
                            Tìm Hiểu Thêm
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mx-auto">
                <div class="box">
                    <div class="img-box">
                        <img src="images/b2.jpg" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            Cách Giảm Thiểu Chi Phí Quản Lý Phòng Trọ
                        </h5>
                        <p>
                            Những mẹo hay giúp bạn tối ưu chi phí và nâng cao lợi nhuận trong việc quản lý phòng trọ.
                        </p>
                        <a href="">
                            Tìm Hiểu Thêm
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mx-auto">
                <div class="box">
                    <div class="img-box">
                        <img src="images/b3.jpg" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            Xu Hướng Phòng Trọ Hiện Đại Năm 2024
                        </h5>
                        <p>
                            Khám phá các mẫu phòng trọ hiện đại với tiện ích cao cấp và phù hợp với nhu cầu hiện nay.
                        </p>
                        <a href="">
                            Tìm Hiểu Thêm
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end blog section -->
<!-- client section -->

<section class="client_section layout_padding-bottom">
    <div class="container">
        <div class="heading_container">
            <h2>
                Đánh Giá Khách Hàng
            </h2>
        </div>
        <div id="carouselExample2Controls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-md-11 col-lg-10 mx-auto">
                            <div class="box">
                                <div class="img-box">
                                    <img src="images/client.jpg" alt="" />
                                </div>
                                <div class="detail-box">
                                    <div class="name">
                                        <i class="fa fa-quote-left" aria-hidden="true"></i>
                                        <h6>
                                            Nguyễn Văn A
                                        </h6>
                                    </div>
                                    <p>
                                        Tôi rất hài lòng với hệ thống quản lý phòng trọ. Giao diện thân thiện, dễ sử dụng và giúp tôi theo dõi công việc hàng ngày dễ dàng hơn.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-md-11 col-lg-10 mx-auto">
                            <div class="box">
                                <div class="img-box">
                                    <img src="images/client.jpg" alt="" />
                                </div>
                                <div class="detail-box">
                                    <div class="name">
                                        <i class="fa fa-quote-left" aria-hidden="true"></i>
                                        <h6>
                                            Trần Thị B
                                        </h6>
                                    </div>
                                    <p>
                                        Hệ thống giúp tôi tiết kiệm rất nhiều thời gian quản lý và giảm thiểu các sai sót trong việc tính toán chi phí thuê phòng.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-md-11 col-lg-10 mx-auto">
                            <div class="box">
                                <div class="img-box">
                                    <img src="images/client.jpg" alt="" />
                                </div>
                                <div class="detail-box">
                                    <div class="name">
                                        <i class="fa fa-quote-left" aria-hidden="true"></i>
                                        <h6>
                                            Phạm Văn C
                                        </h6>
                                    </div>
                                    <p>
                                        Đội ngũ hỗ trợ rất nhiệt tình và chuyên nghiệp. Tôi cảm thấy yên tâm hơn khi sử dụng dịch vụ quản lý phòng trọ này.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel_btn-container">
                <a class="carousel-control-prev" href="#carouselExample2Controls" role="button" data-slide="prev">
                    <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExample2Controls" role="button" data-slide="next">
                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</section>

<!-- end client section -->
<!-- contact section -->
<section class="contact_section  long_section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="form_container">
                    <div class="heading_container">
                        <h2>
                            Contact Us
                        </h2>
                    </div>
                    <form action="">
                        <div>
                            <input type="text" placeholder="Your Name" />
                        </div>
                        <div>
                            <input type="text" placeholder="Phone Number" />
                        </div>
                        <div>
                            <input type="email" placeholder="Email" />
                        </div>
                        <div>
                            <input type="text" class="message-box" placeholder="Message" />
                        </div>
                        <div class="btn_box">
                            <button>
                                SEND
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <div class="map_container">
                    <div class="map">
                        <div id="googleMap"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


