
@{
    Layout = "~/Views/Shared/LayoutUser.cshtml";
}



<!-- blog section -->
<section class="blog_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h2>
                Bài Viết Mới Nhất
            </h2>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4 mx-auto">
                <div class="box">
                    <div class="img-box">
                        <img src="images/b1.jpg" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            Hướng Dẫn Quản Lý Phòng Trọ Hiệu Quả
                        </h5>
                        <p>
                            Tìm hiểu các cách tổ chức thông tin, theo dõi tình trạng phòng và cải thiện dịch vụ cho người thuê.
                        </p>
                        <a href="">
                            Tìm Hiểu Thêm
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mx-auto">
                <div class="box">
                    <div class="img-box">
                        <img src="images/b2.jpg" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            Cách Giảm Thiểu Chi Phí Quản Lý Phòng Trọ
                        </h5>
                        <p>
                            Những mẹo hay giúp bạn tối ưu chi phí và nâng cao lợi nhuận trong việc quản lý phòng trọ.
                        </p>
                        <a href="">
                            Tìm Hiểu Thêm
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mx-auto">
                <div class="box">
                    <div class="img-box">
                        <img src="images/b3.jpg" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            Xu Hướng Phòng Trọ Hiện Đại Năm 2024
                        </h5>
                        <p>
                            Khám phá các mẫu phòng trọ hiện đại với tiện ích cao cấp và phù hợp với nhu cầu hiện nay.
                        </p>
                        <a href="">
                            Tìm Hiểu Thêm
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

