
@{
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}
    <section class="about_section layout_padding long_section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="img-box">
                        <img src="images/about-img.png" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="detail-box">
                        <div class="heading_container">
                            <h2>
                                About Us
                            </h2>
                        </div>
                        <p>
                            Chúng tôi cung cấp giải pháp quản lý phòng trọ chuyên nghiệp và hiệu quả. Với hệ thống hiện đại, bạn có thể dễ dàng theo dõi thông tin phòng, tình trạng thuê, chi phí và hỗ trợ khách hàng nhanh chóng. Sứ mệnh của chúng tôi là mang đến sự tiện lợi và minh bạch trong việc quản lý và vận hành các hệ thống phòng trọ.
                        </p>
                        <a href="">
                            Tìm Hiểu Thêm
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- end about section -->
    <!-- info section -->


